.create-room-page{
		border:1px solid #FA709A;
		border-radius:5px;
		position:absolute;
		top:50%;
		left:50%;
		font-family:'Ubuntu',sans-serif;
		transform:translate(-50%,-50%);
		background:white;
		padding:3rem;
}

.room-type-input > *{
		display:block;
		padding-top:20px;
}
.create-room-button{
		padding-top:2rem;
}
.create-room-button > p{
		padding:1rem 2rem 1rem 2rem;
		background-color: #FEE140;
		background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
		text-align:center;
		color:white;
		border-radius:5px;
}
.create-room-button > p:hover{
		cursor:pointer;
		background-image: linear-gradient(90deg, yellow 0%, #ff00ff 100%);
}
